

/** UI **/

.wp-block-revealer__toolbar{
    display: flex;
    align-self: center;
    padding: 0 6px;
}

.wp-block-revealer__toolbar .wp-block-revealer-options__form{
    display: flex;
}

.wp-block-revealer-options{
    display: block;

    
    z-index: 1;
    width: 100%;
    height: 48px;

    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;

    line-height: 48px;
}


.wp-block-revealer-options__toggle{
    position: relative;

    /* font-size: 0; */
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 0 1px transparent;

    background: transparent url(../img/wpbr-icon.svg) center center / 100% auto no-repeat;
    background-position: center top;

}


input#wpbkr-toogle-reveal{
    opacity: 0;
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    /*
    position: relative;
    z-index: 2;
    */
}

.wp-block-revealer-options__toggle:hover,
.wp-block-revealer-options__toggle:active,
.wp-block-revealer-options__toggle.option-active{
    box-shadow: inset 0 0 0 1px var( --wpbr--editor--shadow--color-hover );
}

.wp-block-revealer-options__toggle:focus-within{
    box-shadow: 0 0 0 2px var( --wpbr--editor--shadow--color-hover ) !important;
}

.wp-block-revealer-options__toggle.option-active{
    box-shadow: inset 0 0 0 1px var( --wpbr--editor--shadow--color-hover );
    background-position: center bottom;
}


.wp-block-revealer-options__button{

    display: none;
    
    border-radius: 3px;
    line-height: 1.2em;

    background-color: #fff;
    box-shadow: 0 0 0 1px #e0e0e0;
}

body.wp-block-revealer--reveal .wp-block-revealer-options__button{
    display: inline-block;
}


.wp-block-revealer-options__button input{
    height: 25px;
    appearance: none;
    border: none;
    background: none;
}

.wp-block-revealer-options__toggle,
.wp-block-revealer-options__button,
.wp-block-revealer-options__button input{
    cursor: pointer;
}



.wp-block-revealer-options__color-swatch{

    /*
    display: none;
    .swatch-open & { display: block; }
    */
    display: block;

    position: absolute;
    
    width: 100%;
    height: 300%;

    width: 16px;
    padding-left: 4px;
    height: 100%;

    background-color: white;
    /* box-shadow: 0 0 0 1px #ccc; */
    border-radius: 2px;

    left: 0;
    top: 0;
    cursor: default;

    left: 100%;
    left: calc( 100% + 0px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;

    /* transition: all 300ms; */
    
    cursor: pointer;
    z-index: -1;
    transform: translateX( -20px );

    .wp-block-revealer-options__toggle:hover  &,
    .wp-block-revealer-options__toggle:focus  &,
    .wp-block-revealer-options__toggle:active &{
        z-index: 1;
        transform: translateX( 0 );
    }
}


.wp-block-revealer-options__color{

    width: 24px;
    height: 24px;
    margin: 4px;

    width: 10px;
    height: 10px;
    margin: auto;
    padding: 2px;

    
    appearance: none;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: all 300ms;

    &:hover{ transform: scale(1.4); }

    &--blue {
        background-color : var( --wpbr--color--blue );
        &:hover,&:focus,&:active{
            background-color : var( --wpbr--color--blue-hover );
        }
    }

    &--white {
        background-color : var( --wpbr--color--white );
        &:hover,&:focus,&:active{
            background-color : var( --wpbr--color--white-hover );
        }
    }

    &--black {
        background-color : var( --wpbr--color--black );
        &:hover,&:focus,&:active{
            background-color : var( --wpbr--color--black-hover );
        }
    }
}


.wp-block-revealer-options__indicator{

    display: none;
    .option-active & { display: block; }

    width: 8px;
    height: 8px;
    background-color: aqua;
    border-radius: 50%;

    position: absolute;
    top: 0;
    /*
    right: 0;
    transform: translateX(4px) translateY(-4px);
    */
    left: 0;
    transform: translateX(-4px) translateY(-4px);

    background-color: var( --wpbr--editor--shadow--color );
}